table caption {
  text-transform: uppercase;
  background-color: green;
  padding: 12px;
  color: white;
  font-size: 16px;
}

.bestSellingVideoGameTable {
  border: 3px solid green;
  border-spacing: 1px 20px;
  height: 200px;
  width: 400px;
}

tr {
  text-align: center;
}

td {
  text-align: center;
}

tbody tr:nth-child(odd) {
  background-color: #d6eeee;
}
